<h2 *ngIf="serverError" fxLayoutAlign="center"> Oops, the current weather escaped. Please try again later.</h2>
 <div *ngIf="showCard" >
  <h2 fxLayoutAlign="center">Current Weather for {{cityInfo.cityName}}, {{cityInfo.cityState}}, {{cityInfo.cityCountry}} </h2>
<div fxLayoutAlign="center">
  <div class="card">
    <h4>{{currentWeatherResp.time}}</h4>
  <div>
    <p> 
      {{currentWeatherResp.temperatureF}} &#8457;. <span>Feels like {{currentWeatherResp.realTempF}} &#8457;</span>
    </p>
      <img src="{{weatherIconImgPath}}" alt="Icon for {{currentWeatherResp.weatherText|lowercase}} weather"/>
  </div>
  <div>
  <p>
    {{currentWeatherResp.weatherText }}
  </p> 
  </div>
</div>
</div>
</div>
