<h2 *ngIf="serverError" fxLayoutAlign="center"> Oops, the forecast is down right now. Please try again later.</h2>
<div *ngIf="showCard">
    <h2 fxLayoutAlign="center">Next Few Days Forecast</h2>
  <div fxLayout="row wrap" fxLayoutAlign="center">
    <div>
      <div class="card">
        <h4>
            {{forecastResp[1].date}}
        </h4>
        <p>
            High: {{forecastResp[1].tempMax}} &#8457; / Low: {{forecastResp[1].tempMin}} &#8457;
        </p>
        <img src="{{dayIconPaths[1]}}" alt="Icon for {{forecastResp[1].dayPhrase|lowercase}} weather"/>
        <p>
            {{forecastResp[1].dayPhrase}}
        </p>
      </div>
    </div>
    <div>
      <div class="card"> 
        <h4>
            {{forecastResp[2].date}}
        </h4>
        <p>
            High: {{forecastResp[2].tempMax}} &#8457; / Low: {{forecastResp[2].tempMin}} &#8457;
        </p>
        <img src="{{dayIconPaths[2]}}" alt="Icon for {{forecastResp[2].dayPhrase|lowercase}} weather"/>
        <p>
            {{forecastResp[2].dayPhrase}}
        </p>
      </div>
    </div>
    <div>
      <div class="card">
        <h4>
            {{forecastResp[3].date}}
        </h4>
        <p>
            High: {{forecastResp[3].tempMax}} &#8457; / Low: {{forecastResp[3].tempMin}} &#8457;
        </p>
        <img src="{{dayIconPaths[3]}}" alt="Icon for {{forecastResp[3].dayPhrase|lowercase}} weather"/>
        <p>
            {{forecastResp[3].dayPhrase}}
        </p>
      </div>
    </div>
    <div>
      <div class="card">
        <h4>
            {{forecastResp[4].date}}
        </h4>
        <p>
            High: {{forecastResp[4].tempMax}} &#8457; / Low: {{forecastResp[4].tempMin}} &#8457;
        </p>
        <img src="{{dayIconPaths[4]}}" alt="Icon for {{forecastResp[4].dayPhrase|lowercase}} weather"/>
        <p>
            {{forecastResp[4].dayPhrase}}
        </p>
      </div>
    </div>
  </div>
</div>
  